# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

*.pyc
.pytest_cache/
.pytest_tmp/
pytest-cache-files-*/

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables / secrets
.env
.env.*

# Python build files
build/
dist/
*.egg-info/