 /* Footer.css */
 .footer-container {
   background-color: #bcb2b2;
   color: rgb(13, 0, 0);
   padding: 20px 0;
   width: 100%;
 }

 .content-wrap{
  flex: 1;
 }
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin-top: auto;
  font-size: 12px;
  
}

